

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #000000; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

.light-mode {
  background-color: #fff; /* Light mode background color */
  color: #000; /* Light mode text color */
}







