body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #000000; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

.light-mode {
  background-color: #fff; /* Light mode background color */
  color: #000; /* Light mode text color */
}

html {
  scroll-behavior: smooth;
}

/* Add a top offset to each section */
section {
  position: relative;
  padding-top: 100px; /* Adjust this based on your header height */
  margin-top: -80px; /* Adjust this based on your header height */
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 80px; /* Adjust based on your actual header height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: inherit;
}

.theme-switcher {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.close-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 80px; /* Adjust based on your actual header height */
    left: 0;
    width: 100%;
    height: calc(100% - 80px); /* Adjust based on your actual header height */
    background-color: inherit;
    padding-top: 20px;
  }

  .nav-links.show {
    display: flex;
  }

  .close-icon {
    display: block;
    align-self: flex-end;
    margin: 10px;
  }

  .nav-link {
    margin: 10px 0;
    text-align: center;
  }
}
