/* src/components/EntryPage.css */

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400&display=swap');


.entry-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: white;
    padding-right: 20%;
    padding-left: 20%;
    background-color: black;
    overflow: hidden;
}
.io-color {
    color: #8A2BE2;
}
  

.entry-subtext {
    color: #ccc; 
    font-size: 1.2rem; 
    margin-top: 10px; 
    font-family: 'Libre Franklin', sans-serif;
}

.left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-left-section {
    flex: 1;
    display: flex;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
}

.bottom-left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.entry-text {
    font-family: 'Bowlby One', cursive;
    font-size: 3rem;
}

.cursor {
    opacity: 0;
    background-color: white;
    width: 15px; 
    height: 55px; 
    display: inline-block;
    margin-left: 5px;
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.visible {
    opacity: 1;
}

.gif-image {
    height: 120%;
    width: 140%;
    object-fit: contain; 
}

.hint {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: 'Libre Franklin', sans-serif;
}

.exclamation-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    padding: 10px;
    background-color: grey;
    border-radius: 50%; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 1.5rem; 
    height: 1.5rem; 
}

.shift-image {
    height: 40px;
    width: 90px; 
    margin: 0 10px; 
}

.dot-image {
    height: 40px;
    width: 40px; 
    margin: 0 5px; 
}

.pressed {
    transform: scale(1.2);
  }
