@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700;900&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

body.dark {
  background-color: #000000;
}

body.dark h1,
body.dark .support a {
  color: #fff;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; 
  background-color: #000000;
  padding: 0 100px;
  z-index: 1000;
  color: #fff;
  transition: background-color 0.3s ease; 
  border-bottom: 2px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
}



.body.light .header {
  background-color: #6e6e6e;
  color: #000;
}

.logo-container {
  display: flex;
  flex-grow: 0;
  justify-content: flex-start;
  margin-right: 300px;
}

img{
  width: 175px; 
  height: 40px; 
}

.nav-links {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-grow: 2;
    margin: 0; 
    padding: 0;
  }
  
  .nav-link {
    color: inherit;
    text-decoration: none;
    margin: 0 10px; 
    padding: 5px 10px; 
    border-radius: 8px; 
    transition: background-color 0.3s; 
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
  }
  
  .nav-link:hover {
    color: blueviolet;
    background-color: #ffffff;
  }
  
  .theme-switcher {
    margin-right: -100px;
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

.checkbox {
  opacity: 0;
  position: relative;
}

.checkbox-label {
  background-color: #000000;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  margin-right: 100px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox:checked + .checkbox-label {
  background-color: #fff; 
}

.checkbox:checked + .checkbox-label .ball {
  background-color: #000;
  transform: translateX(24px); 
}

.checkbox:checked + .checkbox-label .fa-moon,
.checkbox:checked + .checkbox-label .fa-sun {
  color: #000; /* Black icons in dark mode */
}

.checkbox-label .ball {
  background-color: #fff; 
  transition: transform 0.2s linear; 
}

.checkbox-label .fa-moon,
.checkbox-label .fa-sun {
  color: #fff; 
}

.checkbox-label .ball {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
}







.close-icon{
  display: none;
}

.menu-icon {
  display: none; 
}


@media (max-width: 768px) {
  .header {
    padding: 0 20px; 
  }

  .logo-container {
    justify-content: center; 
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%); 
  }

  .nav-links {
    flex-direction: column; 
    position: fixed;
    left: 0;
    top: 80px; 
    width: 100%; 
    transform: translateX(-100%); 
    padding-top: 20px; 
    background-color: #000; 
    color: #ffffff;
  }

  .nav-links.show {
    transform: translateX(0); 
  }

  .close-icon {
    display: block;
    position: absolute;
    left: 20px; 
    top: 20px; 
  }

  .menu-icon {
    display: block; 
    position: absolute;
    left: 20px; 
    top: 20px; 
  }

  .theme-switcher {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px; 
  }
}
