.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Libre Franklin', sans-serif;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 1000px;
  max-height: 90%;
  background: #fff;
  padding: 20px;
  overflow-y: auto;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
}

.modal-content.dark {
  background: #333;
  color: #fff;
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: inherit;
}

.modal-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.modal-title {
  font-size: 3em;
  text-align: left;
  margin: 0;
}

.modal-main {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modal-image-container {
  width: 50%;
  margin-top: 40px;
  text-align: right;
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal-text {
  width: 50%;
  text-align: left;
  padding-left: 20px;
}

.modal-text h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: left;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
  width: 50%;
}

.tech-icon {
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.key-features {
  margin-top: 40px;
}

.key-features h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.challenges-and-solutions {
  margin-top: 20px;
}

.challenges-and-solutions h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.conclusion h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-link {
  margin-top: 20px;
}

.project-link a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.5em;
}

.project-link a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .modal-content {
    width: 95%;
    padding: 10px;
  }

  .modal-title {
    font-size: 1.5em;
  }

  .modal-main {
    flex-direction: column;
  }

  .modal-image-container,
  .modal-text {
    width: 100%;
  }

  .tech-icon {
    width: 40px;
    height: 40px;
  }
}

.dark-mode .modal-content {
  background: #333;
  color: #fff;
}
